In [51]:
import datetime
import string
import csv

In [29]:
transactions = []

In [52]:
# Phase 1 Define add_transaction()

In [53]:
def add_transactions(transactions,type_):
    amount = float(input("Enter the amount of money you want to add to :"))
    category = input("What is the category of the amount? ")
    date = datetime.datetime.today().strftime("%Y-%m-%d")
    the_dict = {
    "type":type_,
    "amount":amount,
    "category":category,
    "date":date
    }
    transactions.append(the_dict)
    print(transactions)

In [31]:
add_transactions(transactions,"Income")

Enter the amount of money you want to add to : 1200000
What is the category of the amount?  WDC

[{'type': 'Income', 'amount': 1200000.0, 'category': 'WDC', 'date': '2025-08-05'}]

In [32]:
add_transactions(transactions,"Expense")

Enter the amount of money you want to add to : 130000
What is the category of the amount?  WSX

[{'type': 'Income', 'amount': 1200000.0, 'category': 'WDC', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 130000.0, 'category': 'WSX', 'date': '2025-08-05'}]

In [33]:
add_transactions(transactions,"Income")

Enter the amount of money you want to add to : 100000
What is the category of the amount?  WSZ

[{'type': 'Income', 'amount': 1200000.0, 'category': 'WDC', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 130000.0, 'category': 'WSX', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 100000.0, 'category': 'WSZ', 'date': '2025-08-05'}]

In [34]:
add_transactions(transactions,"Income")

Enter the amount of money you want to add to : 1200003
What is the category of the amount?  WQA

[{'type': 'Income', 'amount': 1200000.0, 'category': 'WDC', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 130000.0, 'category': 'WSX', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 100000.0, 'category': 'WSZ', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 1200003.0, 'category': 'WQA', 'date': '2025-08-05'}]

In [35]:
add_transactions(transactions,"Expense")

Enter the amount of money you want to add to : 123444
What is the category of the amount?  LOP

[{'type': 'Income', 'amount': 1200000.0, 'category': 'WDC', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 130000.0, 'category': 'WSX', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 100000.0, 'category': 'WSZ', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 1200003.0, 'category': 'WQA', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 123444.0, 'category': 'LOP', 'date': '2025-08-05'}]

In [36]:
add_transactions(transactions,"Expense")

Enter the amount of money you want to add to : 1202002
What is the category of the amount?  YXZ

[{'type': 'Income', 'amount': 1200000.0, 'category': 'WDC', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 130000.0, 'category': 'WSX', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 100000.0, 'category': 'WSZ', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 1200003.0, 'category': 'WQA', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 123444.0, 'category': 'LOP', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 1202002.0, 'category': 'YXZ', 'date': '2025-08-05'}]

In [37]:
add_transactions(transactions,"Income")

Enter the amount of money you want to add to : 1253625
What is the category of the amount?  YUP

[{'type': 'Income', 'amount': 1200000.0, 'category': 'WDC', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 130000.0, 'category': 'WSX', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 100000.0, 'category': 'WSZ', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 1200003.0, 'category': 'WQA', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 123444.0, 'category': 'LOP', 'date': '2025-08-05'}, {'type': 'Expense', 'amount': 1202002.0, 'category': 'YXZ', 'date': '2025-08-05'}, {'type': 'Income', 'amount': 1253625.0, 'category': 'YUP', 'date': '2025-08-05'}]

In [54]:
# phase 2 Define display the balance function

In [55]:
def view_balance(transactions):
    total_income = 0
    total_expense = 0
    for t in transactions:
        if t['type'] == 'Income':
            total_income += t['amount']
        elif t['type'] == 'Expense':
            total_expense += t['amount']
    balance = total_income - total_expense
    print("  Balance summary   ")
    print("the total Income: {}".format(total_income))
    print("the total expense: {}".format(total_expense))
    print("The balance is : {}".format(balance))

In [56]:
view_balance(transactions)

  Balance summary
the total Income: 3753628.0
the total expense: 1455446.0
The balance is : 2298182.0

In [57]:
# save the files

In [47]:
def save_to_file(transactions, filename="transactions.csv"):
    with open(filename, mode='w', newline='') as file:
        fieldnames = ['type', 'amount', 'category', 'date']
        writer = csv.DictWriter(file, fieldnames=fieldnames)

        writer.writeheader()
        for t in transactions:
            writer.writerow(t)

    print(f"\n Transactions saved to {filename}")

In [48]:
 save_to_file(transactions,"transactions.csv")

 Transactions saved to transactions.csv

In [58]:
# Displayed with pandas

In [59]:
import pandas as pd

In [60]:
pd.read_csv("transactions.csv")

      type     amount category        date
0   Income  1200000.0      WDC  2025-08-05
1  Expense   130000.0      WSX  2025-08-05
2   Income   100000.0      WSZ  2025-08-05
3   Income  1200003.0      WQA  2025-08-05
4  Expense   123444.0      LOP  2025-08-05
5  Expense  1202002.0      YXZ  2025-08-05
6   Income  1253625.0      YUP  2025-08-05